# Flask and Web Frameworks
Flask
Frozen-Flask

# Machine Learning Libraries
pandas
scikit-learn
scikit-image
numpy
scipy
seaborn
matplotlib
keras
tensorflow
tensorflow-intel
torch
yellowbrick

# Data and Visualization Libraries
nltk
opencv-python
pillow
rich
tqdm
tifffile
joblib
imageio

# Azure Libraries
azure-ai-ml
azure-ai-resources
azure-common
azure-core
azure-core-tracing-opentelemetry
azure-mgmt-authorization
azure-mgmt-core
azure-appconfiguration
azure-keyvault-secrets
azure-keyvault-certificates
azure-keyvault-keys
azure-storage-blob
azure-storage-file-share
azure-storage-file-datalake
azure-eventhub
azure-identity
azure-ai-nspkg
azure-cognitiveservices-nspkg
azure-mgmt-resourcegraph
azure-mgmt-resource
azure-mixedreality-authentication
azure-schemaregistry
azure-nspkg

# Instrumentation and Telemetry
opencensus
opencensus-ext-azure
opencensus-ext-threading
opencensus-ext-logging
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation
opentelemetry-instrumentation-django
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-psycopg2
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-urllib
opentelemetry-instrumentation-urllib3
opentelemetry-resource-detector-azure

# Security and Authentication Libraries
msrest
msrestazure
msal
msal-extensions
pyjwt
cryptography

# Data Management Libraries
pyyaml
marshmallow
jsonschema
strictyaml

# Resource Management Libraries
psutil
fixedint
pydash

# Networking and System Libraries
msal-extensions
requests
aiohttp
websocket-client
dnspython
yarl

# NLP and AI Libraries
openai
promptflow-core
promptflow-devkit

# Big Data Libraries
avro
uamqp

# General Utilities
colorama
blinker
certifi
charset-normalizer
click
contourpy
cycler
filelock
flatbuffers
fonttools
fsspec
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
kiwisolver
lazy_loader
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
mpmath
namex
networkx
opt_einsum
optree
packaging
pony
protobuf
Pygments
pyparsing
python-dateutil
pytz
regex
setuptools
six
sympy
tensorboard
tensorboard-data-server
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt
